ethosIQ-NGCC-Service/ethosIQ-NGCC-Shared/Connected Services/WFMRealTime/IncomingWFMRTA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IncomingWFMRTA" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.154.108.71:6999/WFMRealTime?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.154.108.71:6999/WFMRealTime?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWFMRealTime_SendFullAgentState_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFullAgentState" />
  </wsdl:message>
  <wsdl:message name="IWFMRealTime_SendFullAgentState_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFullAgentStateResponse" />
  </wsdl:message>
  <wsdl:message name="IWFMRealTime_SendAgentState_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAgentState" />
  </wsdl:message>
  <wsdl:message name="IWFMRealTime_SendAgentState_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendAgentStateResponse" />
  </wsdl:message>
  <wsdl:portType name="IWFMRealTime">
    <wsdl:operation name="SendFullAgentState">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFMRealTime/SendFullAgentState" message="tns:IWFMRealTime_SendFullAgentState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFMRealTime/SendFullAgentStateResponse" message="tns:IWFMRealTime_SendFullAgentState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAgentState">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFMRealTime/SendAgentState" message="tns:IWFMRealTime_SendAgentState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFMRealTime/SendAgentStateResponse" message="tns:IWFMRealTime_SendAgentState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWFMRealTime" type="tns:IWFMRealTime">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendFullAgentState">
      <soap:operation soapAction="http://tempuri.org/IWFMRealTime/SendFullAgentState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAgentState">
      <soap:operation soapAction="http://tempuri.org/IWFMRealTime/SendAgentState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IncomingWFMRTA">
    <wsdl:port name="BasicHttpBinding_IWFMRealTime" binding="tns:BasicHttpBinding_IWFMRealTime">
      <soap:address location="http://10.154.108.71:6999/WFMRealTime" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>