ethosIQ-NGCC-Service/ethosIQ-NGCC-Shared/Connected Services/WFMRealTime/WFMRealTime1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SendFullAgentState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FullRTAString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFullAgentStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAgentState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAgentStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>